.home--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
        margin-bottom: 50px;
    }

    .home--pages {
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}