body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page--container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    > p {
        margin-bottom: 50px;
    }

    a {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 2px;
        font-size: 13px;
        font-weight: 500;
        color: #9A1032;
    }

    .page--figures {
        gap: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        
        .page--figure.have {
            background-color: #109a5a;
        }

        .page--figure {
            width: 350px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding-top: 20px;
            background-color: #9A1032;
            color: #fff;

            a {
                color: #fff;
            }

            small {
                text-align: center;
            }
        }
    }
}